/*common*/
*{margin: 0;padding: 0;}
li{list-style-type: none;height: 300px;}
.slide{position: relative;margin: 50px auto;width: 600px;}
.slide h3{font-size: 20px;line-height: 2;text-align: center;}
li div{width: 100%;height: 100%;text-align: center;line-height: 300px;color: #fff;}
.orange{background: orange;}
.green{background: green;}
.blue{background: blue;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.prev,
.next{position: absolute;top: 50%;margin-top: -40px; width: 40px;height: 80px;background: #000;font-size: 40px;color: #fff;text-align: center;line-height: 80px;}
.prev:hover,
.next:hover{background: #444;}
.prev{left:0;}
.next{right: 0;}
.page{position: absolute;bottom: 10px;left: 0;right: 0;text-align: center;}
.page a{width: 10px;height: 10px;border-radius: 50% ;background: #ff0000;margin-right: 5px;display: inline-block;}
.page a.on{background: #ff0;}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}


/*default, fade*/
#default li, #fade li{width: 600px;font-size: 30px;}

/*carousel*/
#carousel li{width: 200px;font-size: 20px;}

/*tab*/
.each-news{line-height: 2;height: auto;color: #000;position: relative;}
#tab h4{font-size: 14px;text-align: left;}
#tab span{position: absolute;right: 0;top: 0;color: #999;}
#tab li{width: 600px;}
#tab .slide-wrapper{background: #eee;}