/*common*/
*{margin: 0;padding: 0;}
html,
body,
.slide,
.slide-wrapper{width: 100%;height: 100%;position: relative;}
li{list-style-type: none;}
.color{width: 100%;height: 100%;text-align: center;font-size: 80px;color: #fff;position: relative;}
.slide{position: absolute;left: 0;top: 0;}
.orange{background: orange;}
.green{background: green;}
.blue{background: blue;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.prev,
.next{position: absolute;top: 50%;margin-top: -40px; width: 40px;height: 80px;background: #000;font-size: 40px;color: #fff;text-align: center;line-height: 80px;}
.prev:hover,
.next:hover{background: #444;}
.prev{left:30px;}
.next{right: 30px;}
.page{position: absolute;bottom: 10px;left: 0;right: 0;text-align: center;}
.page a{width: 10px;height: 10px;border-radius: 50% ;background: #ff0000;margin-right: 5px;display: inline-block;}
.page a.on{background: #ff0;}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.inner{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#inner-slide{position: relative;width: 100%;height: 100%;}
#inner-slide li{width: 100%;height: 100%;}